@{
    ViewBag.Title = "Index";
}

<h2>Random Chat</h2>


<div id="ChatBoxArea">

    <div id="TextArea">Jesper: Hej!<br />Random: Tja</div>

    <div>
        <input type="text" name="MessageBox" value="" />
        <input type="submit" name="MessageSubmit" value="Skicka" />
    </div>

</div>
