@{
    ViewBag.Title = "RegisterStepTwo";
}

<h2>Aktivering</h2>
<p>Vi har skickat ett epostmeddelande med en <strong>aktiveringslänk</strong> till dig.</p>
<ol>
    <li>Logga in på din epost.</li>
    <li>Klicka på länken för att aktivera ditt konto.</li>
    <li>Nu kan du logga in med dina inloggningsuppgifter.</li>
</ol>
