@if (Request.IsAuthenticated) {
    
        @Html.ActionLink(User.Identity.Name, "MyProfile", "Profile", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
  
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
        }
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })<i class="icon-signout"></i></li>
    </ul>
}
