@model MiniFB.Models.Entities.User

@{
    ViewBag.Title = "Byt lösenord";
}

<h2>Byt lösenord</h2>

@using (Html.BeginForm()) {
    
    @Html.AntiForgeryToken()

    <div class="span12">

        <div>
            @Html.HiddenFor(model => model.ID)
            Gammalt Lösenord: <br />
            <input type="password" name="oldpassword" value="" /><br />
            Nytt Lösenord:<br />
            <input type="password" name="newpassword" value="" /><br />
            Upprepa nytt Lösenord:<br />
            <input type="password" name="confirmpassword" value="" /><br />

        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Spara" />
        </p>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
