@model IEnumerable<MiniFB.Models.Entities.NewsFeed>

@{
    ViewBag.Title = "NewsFeed";
}

<h1>NewsFeed</h1>

<p>
    @Html.ActionLink("Create New Item", "Create", "NewsFeedItem")
</p>

@*Partial view with items*@

@Html.ActionLink("List", "Items")
