@model IEnumerable<MiniFB.Models.Entities.NewsFeedItem>

@{
    ViewBag.Title = "NewsFeed";
}

<h1>NewsFeed</h1>

<p>
    @Html.ActionLink("Create New Item", "Create", "NewsFeedItem", null, new { @class = "btn btn-success" })
</p>

<div class="btn-group newsfeed-sorting" data-toggle="buttons-checkbox">
  <button type="button" class="btn btn-primary" name="type" value="status">Status</button>
  <button type="button" class="btn btn-primary" name="type" value="images">Bilder</button>
  <button type="button" class="btn btn-primary" name="type" value="links">Länkar</button>
  <button type="button" class="btn btn-primary" name="type" value="videos">Videor</button>
</div>

@*Partial view with items*@

@Html.Partial("_NewsFeedItems", Model)

@*@Html.ActionLink("List", "Items")*@

@section scripts {
    <script src="~/Scripts/newsfeed.js"></script>
}