@model IEnumerable<MiniFB.Models.Entities.NewsFeedItem>

@{
    ViewBag.Title = "NewsFeed";
}

<h1>NewsFeed</h1>

<p>
    @Html.ActionLink("Create New Item", "Create", "NewsFeedItem", null, new { @class = "btn btn-success" })
</p>

@*Partial view with items*@

@Html.Partial("_NewsFeedItems", Model)

@*@Html.ActionLink("List", "Items")*@
