@if (Request.IsAuthenticated)
{
<div class="chat pull-right">
    <h4>Chatt</h4>
    <div class="chat-window pull-right">
        <div class="chat-header">
            Chatt
        </div>
        <div class="chat-content">
            <p>jdnvdnv</p>
            <p>jnvdjkvn</p>
            <p>sadsd</p>
            <p>lljlghöjjafnkiuev akjkcvjdnvkd kjnajkndvnjjkdnvjkvdan</p>
            <p>djvdnvdkvndkjvdkjvnnkdnvkjvjdknvndvnkjnvdkndvjdvnknv</p>
            <p>lljlghöj</p>
            <p>bhsvtg</p>
            <p><a href="http://www.google.se">http://www.google.se</a></p> 
        </div>
    </div>
</div>
}
else
{
}