@{
    ViewBag.Title = "Chat";
}


<h2>Public Chat</h2>

@Html.ActionLink("Gå till random Chatten", "Random", null, new { @class = "btn" })


<div id="errorDisplay">Felmeddelande</div>

<div id="chatBoxWrapper">
    <div id="chatCloser"></div>

    <div id="chatBox">
        <div id="chatLoader">
            <img src="images/loading.gif" alt="loading..." /></div>
        <div id="chatMessages"></div>
        <div>@Html.TextBox("chatInput") <input class="btn" type="button" id="chatButton" value="Skicka"/></div>
        </div>
</div>

<style>
    #chatLoader {
        position:absolute;
        display:none;
    }
    #chatBox {
        overflow: hidden;
        padding:10px;
    }

    #chatMessages {
        width:253px;
        background-color: #e0e0e0;
        height:200px;
        overflow: auto;
        padding:20px;
    }

    #chatInput {
        margin: 5px 5px 5px 0px;
    }

    #errorDisplay {
        display:none;
    }

    #chatCloser {
        width:253px;
        height: 10px;
    }


</style>


@section Scripts {
    <!-- Detta är ett test script och det skall läggas i en sepparat .js senare! -->
    @Scripts.Render("~/bundles/jquery")
    <script src="../../Scripts/chat/ChatUtils.js" type="text/javascript"></script>
    <script src="../../Scripts/chat/chatScript.js" type="text/javascript"></script>
    
}