<link href="~/Content/Home.css" rel="stylesheet" />

    <div class="row-fluid">

        <div class="span5 left"></div>

        <div class="span5 offset2 right"></div>

    </div>

    <div class="row-fluid">

        <div class="span5 left"></div>

        <div class="span5 offset2 right"></div>

    </div>


