@model MiniFB.Models.LoginModel

<link href="~/Content/Home.css" rel="stylesheet" />

    <div class="row-fluid">
        <div class="span6 thumbnails">
            @*login form*@
            <div class="thumbnail loginform-thumbnail">
                
                <div class="form-btns">
                            <button class="btn loginLink">@Html.ActionLink("Logga in", "Index", "Home")</button>
                            <button class="btn regLink">@Html.ActionLink("Registera dig", "Index", "Home")</button>
                 </div>
                <div id="membership-panel"></div>
                @*login form slut*@
            </div>
        </div>
        <div class="span6">
            
        <style type="text/css">
      
      #map-canvas {  height:340px;  width:100%; }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=true">
    </script>
    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(-34.397, 150.644),
                zoom: 8,
                disableDefaultUI: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>        
        
        <div id="map-canvas"></div>
            
           
        </div>
    </div>

    

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


<script type="text/javascript">

    $(function () {
        bindMembershipLinks();
        loadMembershipView("/Account/_Login");
            
    });

    function bindMembershipLinks() {
        $(".loginLink").click(function () {
            loadMembershipView("/Account/_Login");
            return false;
        });

        $(".regLink").click(function () {
            loadMembershipView("/Account/_Register");
            return false;
        });
    }

    function loadMembershipView(url) {
        $.get(url, function (data) {
            $("#membership-panel").html(data);
            prepareLoadedForm();
            bindMembershipLinks();
        });
    }

    function prepareLoadedForm() {
        var $form = $("#membership-panel").find("form");
        if ($form.exist()) {
            $form.unbind();
            $form.data("validator", null);
            $.validator.unobtrusive.parse(document);
            //bindFormEvent($form);
        }
    }
    //function bindFormEvent($form) {
    //    $form.submit(function (e) {
    //        e.preventDefault();

    //        if ($(this).valid()) {
    //            var formObject = $(this).serializeObject();
    //            var url = $(this).attr('action');
    //            $.post(url, $(this).serializeObject(),
    //                function (data) {
    //                    if (data.Success == true) {
    //                        alert('Success');
    //                    } else {
    //                        alert('Error');
    //                    }
    //                });
    //        }
    //    });
    //}

</script>
    }