<link href="~/Content/Home.css" rel="stylesheet" />

    <div class="row-fluid">

        <div class="span4 left"></div>

        <div class="span4 middle"></div>

        <div class="span4 right"></div>

    </div>


