/* Rules for the content from all the views, first line is for navbar-fixed-top */
body {background-image:url(images/groovepaper.png);}
.content-wrapper.main-content.clear-fix
{
    margin-top: 70px;
    margin-bottom: 70px;
}


/* navbar rules */

.navbar
{
    margin-left: 0px;
    margin-right: 0px;
}

.navbar .nav
{
    float: none;
}

.fixed-top
{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1030;
}

.navbar-search .input-prepend input
{
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.navbar-search .input-prepend
{
    margin-bottom: auto;
}


/* Logged in dropdown mennu */

#logoutForm
{
    margin: 0px;
}

.nav.pull-right .dropdown-menu li.loggedIn
{
    font-size: 15px;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    white-space: nowrap;
}

.dropdown-menu li a
{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    white-space: nowrap;
}

.dropdown-menu li a i
{
    margin-left: 10px;
    margin-top: 1.45px;
}

.dropdown-menu ul li
{
    list-style: none;
}


/* Logged out dropdown menu */

.dropdown-menu ul li a
{
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    white-space: nowrap;
    margin-top: 22px;
    display: inline-block;
}

.dropdown-menu ul li i
{
    margin-left: 10px;
    margin-top: 1.45px;
    display: inline-block;
}

.dropdown-menu ul li:hover a
{
    text-decoration: none;
}


/* footer rules */

footer
{
    height: 40px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 1030;
}

.fixed-bottom
{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.trademark
{
    margin: 10px 0 10px 0;
    display: inline;
    position:absolute;
    left:0;
    margin: 10px 10px 10px 50px;
}

.footerlinks-table 
{
	display: table; 
	margin: 0 auto;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footerlinks-list 
{
	list-style: none;
	padding-top: 20px;
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
}
#footerlinks-list li 
{
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
}


/* social buttons div float right in footer */

/*.social-buttons
{
    display: inline-block;
}

ul.like-buttons
{
    list-style: none;
    margin: 4px 0 0px 0;
    padding: 0;
    width: 100%;
}

ul.like-buttons li
{
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 0px;
}
li.twitter-like
{
    margin-top: 0px;
    width: 80px;
}

.g-plus-one
{
    height: 23px;
    width: 67px;
}*/


/* media queries for navbar and footer width */

@media (max-width: 767px)
{
    .navbar
    {
        margin-left: -20px;
        margin-right: -20px;
    }

    footer
    {
        margin-left: -20px;
        margin-right: -20px;
    }
}

@media (max-width: 690px)
{
    .trademark
    {
        color: #D4D4D4;
        position: static;
        margin: 10px 10px 10px 10px;
        text-align: center;
        width: 100%;
    }

    .footerlinks-table
    {
        clear: both;
    }

    #footerlinks-list li 
    {
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* chat rules */

.chat-footer
{
    height: 38px;
    width: 255px;
    display: inline;
    position: absolute;
    right: 0;
    margin-right: 50px;
}

.chat-footer:hover
{
    cursor: pointer;
}

.chat-footer:focus
{
    cursor: pointer;
}

.chat-content:hover
{
    cursor: default;
}

.chat-content:focus
{
    cursor: default;
}

.chat-footer h4
{
    text-align: center;
    font-size: 14px;
}

.chat-header
{
    width: 100%;
    text-align: center;
    height: auto;
}

.chat-header:hover
{
    cursor: pointer;
}

.chat-header:focus
{
    cursor: pointer;
}

.chat-window
{
    display: none;
    position:absolute;
    right: 0;
    bottom: 38px;
    margin-right: 50px;
}

.chat-content
{
    height: 80%;
    margin: 10px 0px 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
}

.chat-content ul li
{
    margin-right: 10px;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


/* media queries for chat  */

/* Large desktop */
@media (min-width: 1200px) 
{
    .chat-footer
    {
        
    }

    .nav-collapse.collapse .nav.left-nav li:nth-child(4)
    {
        
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 980px)
{
    .chat-footer
    {
        
    }

    .nav-collapse.collapse .nav.left-nav li:nth-child(4)
    {
        
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 979px) 
{
    .chat-footer
    {
        display: none;
    }

    .nav-collapse.collapse .nav.left-nav li:nth-child(4)
    {
        display: normal;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) 
{
    .chat-footer
    {
        display: none;
    }

    .nav-collapse.collapse .nav.left-nav li:nth-child(4)
    {
        display: normal;
    }
}


/* media queries for navbar */
/* media queries for searchform */

/*@media (min-width: 980px)
{
    .navbar-search
    {

    }
}

@media (max-width: 979px)
{
    .navbar-search
    {
        display: none;
    }
}*/


/* media queries for navbar-links */

@media (min-width: 980px)
{
    .settings-dropdown
    {

    }

    .profile-link
    {
        
    }

    .logout-link
    {
        display: none;
    }
}

@media (max-width: 979px)
{
    .settings-dropdown
    {
        display: none;
    }

    .logout-link
    {
        display: normal;
    }
}


/* media queries for devider vertical in navbar */

@media (min-width: 980px)
{
    .divider-vertical-navbar
    {
        display: none;
    }
}

@media (max-width: 979px)
{
    .divider-vertical-navbar
    {
        display: normal;
    }
}


/* media queries for navbar pull-right so it displays at the same line as before the navbar was collapsed. */

@media (min-width: 980px)
{
    .navbar .nav.pull-right
    {
        min-width: 155px;
    }
}


/* media queries for dropdown-chat */

@media (max-width: 979px)
{
    .dropdown-chat-menu
    {
        display: table;
        margin: 0 auto;
        width: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .dropdown-chat-menu ul
    {
        list-style: none;
        margin: 0px;
    }

    .dropdown-menu.dropdown-chat-bubble
    {
        min-height: 200px;
        min-width: 250px;
        margin-top: 10px;
    }
}

@media (min-width: 980px)
{
    .dropdown-chat-menu
    {
        display: none;
    }
}

.spacer {
    height:20px;
    clear:both;
}