body 
{
}


/* Rules for the content from all the views, first line is for navbar-fixed-top */

.content-wrapper.main-content.clear-fix
{
    margin-top: 70px;
    margin-bottom: 70px;
}


/* navbar rules */

.navbar
{
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-inner
{
    background-image: -moz-linear-gradient(top, transparent, transparent);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(transparent));
    background-image: -webkit-linear-gradient(top, transparent, transparent);
    background-image: -o-linear-gradient(top, transparent, transparent);
    background-image: linear-gradient(to bottom, transparent, transparent);
    background-color: #006400;

}

.navbar .nav
{
    float: none;
}

.fixed-top
{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1030;
}

.navbar .brand
{
    color: #FFFFFF;
}

.navbar .nav li a
{
    color: #D4D4D4;
    text-shadow: none;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
{
    color: #D4D4D4;
    text-shadow: none;
    background-color: #00A100;
}

.navbar .nav li a:hover
{
    color: #FFFFFF;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus a:hover
{
    color: #FFFFFF;
}

.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus
{
    background-color: #00A100;
}

.navbar .divider-vertical
{
    border-right: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus 
{
    background-color: #00A100;
    background-image: none;
    filter: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle
{
    background-color: #00A100;
    color: #FFFFFF;
}


/* Logged in dropdown mennu */

#logoutForm
{
    margin: 0px;
}

.nav.pull-right .dropdown-menu li.loggedIn
{
    font-size: 15px;
    background-color: #D4D4D4;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    white-space: nowrap;
}

.nav.pull-right .dropdown-menu li a
{
    color: #000;
}

.nav.pull-right .dropdown-menu li a:hover
{
    color: #FFFFFF;
}

.dropdown-menu li a
{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    white-space: nowrap;
}

.dropdown-menu li a i
{
    margin-left: 10px;
    margin-top: 1.45px;
}

.dropdown-menu li a:hover i
{
    color: #FFFFFF;
}

.dropdown-menu li a:hover
{
    text-decoration: none;
}

.dropdown-menu ul li
{
    list-style: none;
}

.dropdown a.dropdown-toggle i
{
    color: #D4D4D4;
}

.dropdown a.dropdown-toggle:hover i
{
    color: #FFFFFF;
}

.dropdown a.dropdown-toggle:focus i
{
    color: #FFFFFF;
}

.dropdown.open a.dropdown-toggle i
{
    color: #FFFFFF;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret
{
    border-top-color: #D4D4D4;
    border-bottom-color: #D4D4D4;
}

.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret
{
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret
{
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}


/* Logged out dropdown menu */

.dropdown-menu ul li a
{
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    white-space: nowrap;
    margin-top: 22px;
    display: inline-block;
}

.dropdown-menu ul li i
{
    margin-left: 10px;
    margin-top: 1.45px;
    display: inline-block;
}

.dropdown-menu ul li:hover a
{
    text-decoration: none;
}


/* footer rules */

footer
{
    margin-left: 0px;
    margin-right: 0px;
    background-color: #006400;
    color: #FFFFFF;
}

.fixed-bottom
{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.trademark
{
    color: #D4D4D4;
    margin: 10px 0 10px 0;
    display: inline;
    position:absolute;
    left:0;
    margin: 10px 10px 10px 50px;
}

.footerlinks-table 
{
	display: table; 
	margin: 0 auto;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footerlinks-list 
{
	list-style: none;
	padding-top: 20px;
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
}
#footerlinks-list li 
{
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
}


/* social buttons div float right in footer */

/*.social-buttons
{
    display: inline-block;
}

ul.like-buttons
{
    list-style: none;
    margin: 4px 0 0px 0;
    padding: 0;
    width: 100%;
}

ul.like-buttons li
{
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 0px;
}
li.twitter-like
{
    margin-top: 0px;
    width: 80px;
}

.g-plus-one
{
    height: 23px;
    width: 67px;
}*/


/* media queries for navbar and footer width */

@media (max-width: 767px)
{
    .navbar
    {
        margin-left: -20px;
        margin-right: -20px;
    }

    footer
    {
        margin-left: -20px;
        margin-right: -20px;
    }
}

@media (max-width: 690px)
{
    .trademark
    {
        color: #D4D4D4;
        position: static;
        margin: 10px 10px 10px 10px;
        text-align: center;
        width: 100%;
    }

    .footerlinks-table
    {
        clear: both;
    }

    #footerlinks-list li 
    {
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* chat rules */

.chat
{
    height: 38px;
    width: 200px;
    background-color: #D4D4D4;
    border: 1px solid #000;
    display: inline;
    position: absolute;
    right: 0;
    margin-right: 50px;
}

.chat h4
{
    text-align: center;
    color: #000;
    font-size: 14px;
}

.chat-header
{
    width: 100%;
    text-align: center;
    background-color: #D4D4D4;
    color: #000;
    border-bottom: 1px solid #000;
    height: auto;
}

.chat-window
{
    display: none;
    height: 200px;
    width: 200px;
    background-color: #F1F1F1;
    color: #000;
    border: 1px solid #000;
    position:absolute;
    bottom: 38px;
}

.chat-content
{
    height: 80%;
    margin: 10px 10px 10px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
}

.chat-content p
{
    margin-right: 10px;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


/* media queries for chat  */

/* Large desktop */
@media (min-width: 1200px) 
{
    .chat
    {
        
    }

    .nav-collapse.collapse .nav li:nth-child(4)
    {
        display: none;
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 980px)
{
    .chat
    {
        
    }

    .nav-collapse.collapse .nav li:nth-child(4)
    {
        display: none;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 979px) 
{
    .chat
    {
        display: none;
    }

    .nav-collapse.collapse .nav li:nth-child(4)
    {
        display: normal;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) 
{
    .chat
    {
        display: none;
    }

    .nav-collapse.collapse .nav li:nth-child(4)
    {
        display: normal;
    }
}