body 
{
}


/* Rules for the content from all the views, first line is for navbar-fixed-top */

.content-wrapper.main-content.clear-fix
{
    margin-top: 70px;
    margin-bottom: 30px;
}


/* navbar rules */

.navbar
{
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-inner
{
    background-image: -moz-linear-gradient(top, transparent, transparent);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(transparent));
    background-image: -webkit-linear-gradient(top, transparent, transparent);
    background-image: -o-linear-gradient(top, transparent, transparent);
    background-image: linear-gradient(to bottom, transparent, transparent);
    background-color: #006400;

}

.fixed-top
{
    top: 0;
    position: fixed;
    width: 100%;
}

.navbar .brand
{
    color: #FFFFFF;
}

.navbar .nav li a
{
    color: #D4D4D4;
    text-shadow: none;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
{
    color: #D4D4D4;
    text-shadow: none;
    background-color: #00A100;
}

.navbar .nav li a:hover
{
    color: #FFFFFF;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus a:hover
{
    color: #FFFFFF;
}

.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus
{
    background-color: #00A100;
}

.navbar .divider-vertical
{
    border-right: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
}


/* footer rules */

footer
{
    margin-left: 0px;
    margin-right: 0px;
    background-color: #006400;
    color: #FFFFFF;
}

.fixed-bottom
{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.trademark
{
    color: #D4D4D4;
}


/* media queries for navbar and footer width */

@media (max-width: 767px)
{
    .navbar
    {
        margin-left: -20px;
        margin-right: -20px;
    }

    footer
    {
        margin-left: -20px;
        margin-right: -20px;
    }
}