div.thumbnail.loginform-thumbnail:hover, div.thumbnail.loginform-thumbnail:focus
{
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

div.thumbnail.loginform-thumbnail section fieldset legend
{
    text-align: center;
}

.registerform-table
{
    list-style: none;
	display: table; 
	margin: 0 auto;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#registerform-list
{
	padding-top: 20px;
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
}
#registerform-list li 
{
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
}

.checkbox-label
{
    display: inline;
    padding-left: 10px;
}

input.checkbox
{
    margin-top: 0px;
}

.RegBtn a
{
    color: #000;
    text-decoration: none;
}

.RegBtn a:hover
{
    color: #000;
    text-decoration: none;
}

.form-btns
{
	display: table; 
	margin: 0 auto;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.RegBtn
{
    display: inline;
    margin-left: 15px;
}
.LogIn
{
    display: inline;
    margin-right: 15px;
}