.newsfeed-header {
margin-bottom: 1em;
}

.newsfeed-sorting {
margin: 0;
}

.label.video {
background: #01ABBB;
}

.label.image {
background: #AE219C;
}

.label.link {
background: #4AA538;
}

.label.status {
background: #EA7902;
}

.newsfeed-btn-header
{
    margin-bottom: 20px;
}

.newsfeed-items
{
    margin-top: 40px;
    margin-bottom: 40px;
}

.newsfeed-items:first-child
{
    margin-bottom: 40px;
}