.media-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.media-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.newsfeed-header {
margin-bottom: 1em;
}

.newsfeed-sorting {
margin-left: 5px;
margin-bottom: 10px;
}

.label.video {
background: #01ABBB;
}

.label.image {
background: #AE219C;
}

.label.link {
background: #4AA538;
}

.label.status {
background: #EA7902;
}

.newsfeed-items
{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
}

.newsfeed-items:first-child
{
    margin-bottom: 40px;
    margin-top: 40px;
}


/* Left space profile options */

.profile-options-newsfeed
{
    border: 1px solid black;
    position: fixed;
    width: 22%;
}

.profile-header
{
    
}

.profile-link
{
    display: inline;
}

.edit-profile-link
{
    display: inline;
}

.media-body.profile-link h4
{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.8px;
}

.media.edit-profile-link h4
{
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.8px;
    display: inline;
}

@media (max-width: 770px)
{
    .profile-options-newsfeed
    {
        position: static;
        width: auto;
    }
}


/* media queries for newsfeed status button and sort buttons */

@media (min-width: 836px)
{
    .newsfeed-sorting 
    {
        margin-left: 5px;
        margin-bottom: 10px;
        display: inline;
    }
}

@media (min-width: 768px) and (max-width: 835px)
{
    .newsfeed-sorting 
    {
        margin-left: 5px;
        margin-bottom: 10px;
    }
}

@media (min-width: 468px) and (max-width: 767px)
{
    .newsfeed-sorting 
    {
        margin-left: 10px;
        margin-bottom: 10px;
        display: inline;
    }

    .newsfeed-middle-column
    {
        margin-top: 20px;
    }
}

@media (max-width: 467px)
{
    .newsfeed-sorting 
    {
        margin-bottom: 10px;
        width: 100%;
    }

    .newsfeed-middle-column
    {
        margin-top: 20px;
    }
}