#profile-img-buttons {
    margin: 20px;
}

#profile-save-cancel-buttons {
    margin: 20px;
}

.sex-icon {
    width:20px;
}

.profile-photos
{
    width: 20%;
    display: inline-block;
    margin-left: 5.5px;
    margin-right: 5.5px;
}

.about-field span
{
    margin-top: 5px;
}

.about-field a
{
    margin-top: 10px;
}

.photos-field
{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
}

.about-field
{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F5F5F5;
}

.latest-activity
{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

.profile-image-div img
{
    display: block;
    margin: auto;
}

.photos-field .show-more-photos
{
    height: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.edit-profile-btn
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-field div
{
    margin-left: 10px;
    margin-right: 10px;
}

.photos-field h3
{
    margin-left: 10px;
    margin-right: 10px;
}

.photos-field .photos-container
{
    margin-left: 7px;
    margin-right: 7px;
}

.show-more-photos
{
    margin-left: 10px;
    margin-right: 10px;
}

#profile-img-wrapper [type="checkbox"] {
margin-top: -2px;
}