@model MiniFB.Models.Entities.Image

@{
    ViewBag.Title = "Ta bort" + " " + Model.FileName + "?";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Destroy", "Gallery")) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(i => i.ID)
    
    <button type="submit">Ta bort</button>
}